@import url(https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap);

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(13, 13, 43);
    font-family: 'Oxanium' sans-serif;
    margin: 0;
}

.bg-grey {
    background-color: rgb(75, 85, 99);
}

.color-grey {
    color: rgb(75, 85, 99);
}

.save {
    border-radius: 16px;
    padding: 1% 4%;
}

.border-radius-16px {
    border-radius: 30px;
}
.small, p.small {
    font-size: small;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.69);
}


.free {
    line-height: 1.5rem;
    font-size: medium;
}
.padding {
    padding: 2%;
}
.deals {
    margin-top: 6%;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 1%;
    font-weight: 100;
    font-size: small;
    align-items: center;
    max-width: 300px;
    padding: 5px;
}

.w-900 {
    font-weight: 900;
}

.margin {
    margin-left: 9%;
    display: flex;
    flex-direction: column;
}

.margin-top {
    margin-top: 60px;
}
h1 {
    margin-bottom: 0;
}

.color-white {
    color: white;
}

.bg-blue {
    background-color: rgb(54, 113, 233);
    width: fit-content;
}

.bg-white {
    background-color: white;
}

button {
    border: none;
}
.color-blue {
    color: rgb(54, 113, 233);
}
h1 {
    font-weight: 900;
    font-size: 2.5rem;
}

.bg-violet {
    background-color: rgb(43, 7, 110);
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.menu {
    width: 5vw;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

img {
    height: auto;
    max-width: 100%;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-8px {
    gap: 8px;
}

.circle {
    background-color: rgb(75, 85, 99);
    border-radius: 9999px;
    height: 5rem;
    width: 5rem;
}

.gap-15rem {
    gap: 1.5rem;
}

.margin-auto {
    margin: auto;
}



a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    text-align: center;
}

ul {
    padding: 0;
}
.justify-between {
    justify-content: space-between;
}

.icon {
    width: fit-content;
}

.flex1 {
    width: 4vw;
    height: 4vh;
}

.info {
    display: flex;
    flex-direction: column;
}

button {
    padding: 2%;
    border-radius: 200px;
}

.relative {
    width: max(80%, 600px);
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    border-radius: 40px;
    padding: 5%;
    padding-top: 30px;
    font-weight: 700;
    font-size: larger;
}

.trade {
    width: 100vw;
    padding-top: 70px;
    margin: 0;
    gap: 20px;
}

form.flex-col {
    height: 30vh;
    width: 100%;

}

form.flex-col > *, form.flex-col > *:focus-visible {
    height: 30%;
    border: none;
    outline: none;
}

form.flex-col button {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
}
form.flex-col > input::placeholder, form.flex-col > input {
    font-size: 24px;
}
.f-32px {
    font-size: 32px;
}

body > *:nth-child(n+1) {
    padding-left: 20px;
}

.crypto {
    padding: 5%;
    gap: 10px;
    border-radius: 16px;
}

.crypto > * {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 4px;
}

.h1 h1 {
    margin: 0;
}
.trades {
    gap: 8px;
}

.trades > * {
    width: min(500px, 90%);
    margin: auto;
}

.trades {
    margin-bottom: 30px;
}

.big {
    width: 4rem;
    height: 4rem;
}

.big > img {
    height: 100%;
    width: auto;
}

.bigger {
    font-size: 1.125rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 1.75rem;
}

.mining {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5%;
    background-blend-mode: multiply;
    background: url(./icon/newsletter-box.png) no-repeat;
    background-size: cover;
    margin: auto;
    height: fit-content;
    border-radius: 16px;
}

.profit {
    margin-bottom: 20px;
}
.mining input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    height: 5vh;
    background: transparent;
    color: white;
    color-scheme: light;
}

.mining input::placeholder {
    color: white;
    
}

.margin-bottom {
    margin-bottom: 100px;
}

.button {
   margin-top: 10px;
}

.button button {
    border-radius: 16px;
}
.p > p.small {
    padding: 0;
    margin: 0;
}

.p {
    padding-bottom: 10px;
}

div.footer {
    margin-top: 20px;
}

@media screen and (min-width:700px) {
    .flex-row {
        flex-direction: row;
    }
    .order-1 {
        order: -1;
    }

    .info {
        padding: 10%;
    }
    .flex-1 {
        flex: 1;
    }
    form.flex-row {
        width: 100%;
        height: fit-content;
    }
    form.flex-row > *, form.flex-row > *:focus-visible {
        height: 100%;
    }
    .margin-left {
        margin-right: 50px;
        margin-left: 50px;
    }

    .pad {
        padding: 0 50px;
    }
    div.footer > img {
        align-self: flex-start;
        justify-self: flex-start;
    }
    div.footer > .payment {
        align-self: flex-start;
        justify-self: flex-start;
    }
    .icon {
        width: fit-content;
    }
    footer {
        padding: 10px;
    }
}
